  .header {
  background-color: rgba(255,255,255,0.08);
  backdrop-filter: blur(20px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.35);
  position: fixed;
  width: 100%;
  top: 20px;
  z-index: 1000;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
  border-radius: 50px;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header.scrolled {
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 12px 30px rgba(0,0,0,0.4);
    padding: 0.5rem 0;
}

.logo img {
    height: 40px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 180ms ease;
}

.navbar a:hover {
    color: greenyellow;
}

.contact-btn .btn {
    background-color: blue;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s;
}

.contact-btn .btn:hover {
    background-color: rgb(0, 84, 181);
}

.Menubar {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #333;
}


/* Responsive Design  */


@media (max-width: 768px) {
    .Menubar {
        display: block;
    }

    .Menubar.active .bar:nth-child(2) {
        opacity: 0;
    }

    .Menubar.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .Menubar.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar {
        position: fixed;
        left: -100%;
        top: 70px;
        flex-direction: column;
        background-color: rgba(18,18,18,0.85);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        width: 100%;
        text-align: center;
        transition: left 200ms ease;
        box-shadow: 0 18px 40px rgba(0, 0, 0, 0.35);
        padding: 2rem 0;
    }

    .navbar.active {
        left: 0;
    }

    .navbar ul {
        flex-direction: column;
        gap: 2rem;
    }

    .desktop-only {
        display: none;
    }
}
